<style>
    #present{
        background-color: #ca8d4b;
    }
</style>

<div class="container my-4" id="present">
    <div class="row">
        <div class="col-md-10 mx-auto text-center">
                <div class="card-body">
                    <h5 class="card-title">Descubre OnlyFlans</h5>
                    <p class="card-text">
                        En OnlyFlans, celebramos la exquisitez de los flanes, un postre que combina tradición y sabor en cada bocado. Nuestros flanes son elaborados con ingredientes frescos y recetas artesanales, ofreciendo una experiencia dulce y cremosa que deleita a todos. Además, contamos con una variedad de sabores únicos y sorprendentes, perfectos para cada ocasión.
                    </p>
                </div>
        </div>
    </div>
</div>

