
{% extends 'base.html' %}

{% load static %}

{% block content %}
    
    {% include 'carrusel.html' %}

    <style>
        #tituloP{
            text-align: center;
            margin-top: 20px;
        }
    
    #titulo_miembro{
        text-align: center;
    }

    </style>

    <div class="container mt-4" id="titulo_miembro">
        <h1>Bienvenido, {{ user.username }}!</h1>
        <h2>Catálogo exclusivo Solo Miembros:</h2>

        <div class="row">
            {% for flan in flanes %}
            <div class="col-md-4 mb-4">
                <div class="card" style="height: 100%;">
                    <img src="{{ flan.img_url }}" class="card-img-top" alt="{{ flan.name }}">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ flan.name }}</h5>
                        <p class="card-text flex-grow-1">{{ flan.descripcion }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <a href="{% url 'secret' %}" class="btn btn-custom text-white btn-sm">_</a>

{% endblock %}
